body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#container {
  margin: 2%;
}

#galleryBox {
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
}

#innerGallery {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.thumbnail {
  border: 1px solid #464646;
  margin: 1%;
  height: 17%;
  width: 17%;
  background-color: blue;
  display: inline-block;
}

.titleBar {
  color: white;
  background-color: black;
  width: 150px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#lightBox {
  left: 0;
  right: 0;
  width: 700px;
  margin: auto;
  position: absolute;
  z-index: 1000;
}

#darkness {
  margin: 0;
  padding: 0;
  min-height: 150%;
  min-width: 100%;
  opacity: .5;
  background-color: black;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
}

#nextPrevWrap {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  display: inline-block;
  position: relative;

}

#previous {
  color: white;
  font-size: 120px;
  height: 150px;
  width: 150px;
  left: -150px;
  background-color: black;
  position: absolute;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor: pointer;

}

#next {
  color: white;
  font-size: 120px;
  height: 150px;
  width: 150px;
  right: -150px;
  background-color: black;
  position: absolute;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  cursor: pointer;

}

#expandedImage_height {
  border:6px solid white;
  height: 90vh;
}
#expandedImage_width {
  border:6px solid white;
  width: 80vh;
}

#nextPrevWrap img{
  -webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);

}
